@import '../../assets/scss/variables';

.copyright {
    text-align: center;
    &__names {
        display: flex;
        width: 100%;
    }
    &__name {
        position: relative;
        &:after {
            position: absolute;
            top: 4px;
            right: -2px;
            display: block;
            width: 4px;
            height: 20px;
            content: '';
        }
        &:last-child:after {
            display: none;
        }
    }
    &__icon {
        display: block;
        width: 40px;
        height: 60px;
        margin-right: auto;
        margin-left: auto;
        background-position: bottom center;
        background-repeat: no-repeat;
        &_tema {
            background-image: $avatarUrlTema;
        }
        &_nikita {
            background-image: $avatarUrlNikita;
        }
        &_dima {
            background-image: $avatarUrlDima;
        }
        &_jenya {
            background-image: $avatarUrlJenya;
        }
    }
}
