@import '../../assets/scss/variables';
.btn {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    min-width: 320px;
    background: $color1;
    border: 2px solid $color3;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background: $color3;
        color: $color1;
    }
}
