.authentication {
    width: auto !important;
    min-height: auto !important;

    &__title {
        font-size: 22px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: 50px;
        margin-top: 20px;
    }
}
