@font-face {
    font-family: 'ps2p';
    src: url('../fonts/ps2p.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-main: 'ps2p', sans-serif;

@mixin t-main() {
    font-family: $font-main;
    line-height: 1.25;
    font-size: 25px;
    font-weight: normal;
}

@mixin t-title() {
    font-family: $font-main;
    line-height: 1.25;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}
