$assetPath : "/app/src/assets";

$baseline: 8px;

$colorMain: white;
$colorAccent: #d34549;
$colorSecond: #6daa2c;
$colorBg: #291e34;
$colorBgDark: #140c1c;

$fontSize: 1rem;

$avatarUrlTema: url('#{$assetPath}/img/tema.png');
$avatarUrlNikita: url('#{$assetPath}/img/nikita.png');
$avatarUrlDima: url('#{$assetPath}/img/dima.png');
$avatarUrlJenya: url('#{$assetPath}/img/jenya.png');
