$baseline: 8px;

$colorMain: white;
$colorAccent: #d34549;
$colorSecond: #6daa2c;
$colorBg: #291e34;
$colorBgDark: #140c1c;

$fontSize: 1rem;

$avatarUrlTema: url('~/assets/img/tema.png');
$avatarUrlNikita: url('~/assets/img/nikita.png');
$avatarUrlDima: url('~/assets/img/dima.png');
$avatarUrlJenya: url('~/assets/img/jenya.png');
