body {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    color: var(--color-main);
    @include t-main;
}

div {
    box-sizing: border-box;
}

.ui {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    &__inner {
        @include sizeByGridHor(padding, 5);
        display: flex;
        width: 90%;
        min-height: 90vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 10px solid var(--color-accent);
        margin-top: auto;
        margin-bottom: auto;
        background: var(--color-bg-dark);
    }
}

/*
* Typo
*/
.t-main {
    @include t-main;
}

.t-title {
    @include t-title;
}

.link {
    @include t-main;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    background: none;
    outline: none;
    -webkit-appearance: none;
    border: none;

    &:hover {
        text-decoration: none;
    }
}
