body {
    background: var(--color-bg);
    color: var(--color-main);
    @include t-main;
}

/*
* Typo
*/
.t-main {
    @include t-main;
}

.t-title {
    @include t-title;
}

.link {
    @include t-main;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    background: none;
    outline: none;
    -webkit-appearance: none;
    border: none;

    &:hover {
        text-decoration: none;
    }
}