:root {
    --color-main: #{$colorMain};
    --color-accent: #{$colorAccent};
    --color-second: #{$colorSecond};
    --color-dim: #{$colorDim};
    --color-bg: #{$colorBg};
    --color-bg-dark: #{$colorBgDark};
}
